body{
    background-color: rgb(65, 65, 65);
    color: white;
    font-size: 20px;
    align-items: center;
}
table{
    border:solid 5px;
    text-align: center;
    align-items: center;
}
td{
    border:solid 3px;
}