body{
    background-color: rgb(65, 65, 65);
    color: white;
    font-size: 20px;
  text-align: center;
}
table{
    border:solid 5px;
    position: absolute;
    transform: translate(50%, 100%);
    width: 30%;
}
td{
    border:solid 3px;
}